// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$theme_color1:#0b5a3f;
$theme_color2:#411e22;
$theme_color3:#b3b3b3;
$theme_color4:#fff;
$theme_color5:#4d4d4d;